SEPOLIA_RPC=https://sepolia.infura.io/v3/YOUR_KEY
DEPLOYER_KEY=0xabc123...
ETHERSCAN_KEY=YOUR_ETHERSCAN_KEY
TREASURY=0xYourTreasuryWallet
INIT_COMMISSION_BPS=500
SETTLEMENT_OPERATOR=0xSettlementOperator
STABLECOIN_ADDRESS=0xExistingStablecoin
APXOS_TOKEN_NAME=Apxos USD
APXOS_TOKEN_SYMBOL=APXUSD
APXOS_TOKEN_DECIMALS=6
APXOS_TOKEN_OWNER=0xTokenOwner

